<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhly.mlottery">
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 调用系统下载权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 友盟统计的权限 begin -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 友盟统计的权限 edd -->

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 获取经纬度权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 用于修改电源时间 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 畅言权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取当前应用是否在显示应用，可以更精准的统计用户活跃 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.IndexActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <!-- 环境选择 -->
        <activity
            android:name=".activity.DebugConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BlackStatusBar.ColorGreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 内地版的key-begin -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5625a606e0f55aad6700244f" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="0d9e3f2d89c05a6f2bbd4a28b83c3cfc" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="BETA" />
        <!-- 内地版的key-end -->

        <!-- TalkingData key  begin -->
        <meta-data
            android:name="TD_APP_ID"
            android:value="28673E18FAF2475F8C42D20D4A140B27" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="BETA" />

        <service
            android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService">
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>
        <!-- TalkingData key  end -->

        <activity
            android:name=".activity.FiltrateMatchConfigActivity"
            android:screenOrientation="portrait" />


        <!-- 足球数据内页显示 -->
        <activity
            android:name=".activity.FootballInformationActivity"
            android:screenOrientation="portrait" />
        <!-- 足球设置 -->
        <activity
            android:name=".activity.FootballTypeSettingActivity"
            android:screenOrientation="portrait" />
        <!-- 开奖详情 -->
        <activity
            android:name=".activity.NumbersInfoBaseActivity"
            android:screenOrientation="portrait" />
        <!-- 彩种定制 -->
        <activity
            android:name=".activity.NumberCustomizeActivity"
            android:screenOrientation="portrait" />
        <!-- 彩种定制 -->
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorPrimaryStatusBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 评论activity -->
        <activity
            android:name=".activity.CounselCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 足球内页改版 -->
        <activity
            android:name=".activity.FootballMatchDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 播放视频的webview -->
        <activity
            android:name=".activity.PlayWebViewActivity"
            android:screenOrientation="portrait" />
        <!-- 篮球设置 -->
        <activity
            android:name=".activity.BasketballSettingActivity"
            android:screenOrientation="portrait" />
        <!-- 篮球筛选 -->
        <activity
            android:name=".activity.BasketFiltrateActivity"
            android:screenOrientation="portrait" />
        <!-- 篮球赔率详情 -->
        <activity
            android:name=".activity.BasketOddsDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 篮球资料库详情 -->
        <activity
            android:name=".activity.BasketballDatabaseDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 篮球分析战绩详情 -->
        <activity
            android:name=".activity.BasketAnalyzeMoreRecordActivity"
            android:screenOrientation="portrait" />
        <!-- 足球分析明细 -->
        <activity
            android:name=".activity.FootballAnalyzeDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 足球资料库详情 -->
        <activity
            android:name=".activity.FootballDatabaseDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 首页用户设置选项 -->
        <activity
            android:name=".activity.HomeUserOptionsActivity"
            android:screenOrientation="portrait" />
        <!-- 语言切换 -->
        <activity
            android:name=".activity.HomeLanguageActivity"
            android:screenOrientation="portrait" />
        <!-- 关于我们 -->
        <activity
            android:name=".activity.HomeAboutActivity"
            android:screenOrientation="portrait" />
        <!-- 彩票列表 -->
        <activity
            android:name=".activity.NumbersActivity"
            android:screenOrientation="portrait" />
        <!-- 用户反馈界面 -->
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <!-- 登录界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 注册界面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 找回密码界面 -->
        <activity
            android:name=".activity.FindPassWordActivity"
            android:screenOrientation="portrait" />
        <!-- 个人资料 -->
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <!-- 修改昵称界面 -->
        <activity
            android:name=".activity.ModifyNicknameActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码界面 -->
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 畅言的配置项 -->
        <activity android:name="com.sohu.cyan.android.sdk.activity.OAuthActivity" />
        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- QQ分享 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1104883879" />
            </intent-filter>
        </activity>
        <!-- 新版指数详情 -->
        <activity
            android:name=".activity.CpiDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 新版指数筛选 -->
        <activity
            android:name=".activity.CpiFiltrateActivity"
            android:screenOrientation="portrait" />
        <!-- tencent相关 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 新浪微博 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BlackStatusBar.ColorGreen"
            android:windowSoftInputMode="adjustResize" />
        <!-- 聊球输入框 -->
        <activity
            android:name=".activity.ChartballActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleTop"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!-- 友盟消息推送服务 -->
        <service android:name=".service.umengPushService" />
        <!-- 篮球详情的 -->
        <activity
            android:name=".activity.BasketDetailsActivityTest"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark.NoActionBar" />
        <!-- 篮球资料库模糊搜索 -->
        <activity
            android:name=".activity.BasketballInformationSerachActivity"
            android:screenOrientation="portrait" />
        <!-- 足球资料库模糊搜索 -->
        <activity
            android:name=".activity.FootballInformationSerachActivity"
            android:screenOrientation="portrait" />
        <!-- 今日联赛统计 -->
        <activity
            android:name=".activity.LeagueStatisticsTodayActivity"
            android:screenOrientation="portrait" />
        <!-- 独家访谈界面 -->
        <activity
            android:name=".activity.PLVideoTextureActivity"
            android:screenOrientation="portrait" />
        <!-- 境外资讯详情 -->
        <activity
            android:name=".activity.ForeignInfomationDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 国外资讯图片预览 -->
        <activity
            android:name=".activity.PicturePreviewActivity"
            android:screenOrientation="portrait" />
        <!-- 头像选择 -->
        <activity
            android:name=".activity.AvatarSelectionActivity"
            android:screenOrientation="portrait" />
        <!-- 更多设置 -->
        <activity
            android:name=".activity.MoreSettingsActivity"
            android:screenOrientation="portrait" />
        <!-- 产品建议 -->
        <activity
            android:name=".activity.ProductAdviceActivity"
            android:screenOrientation="portrait" />
        <!-- 视频集锦 -->
        <activity
            android:name=".activity.PlayHighLightActivity"
            android:screenOrientation="portrait" />
        <!-- 我的定制页 -->
        <activity
            android:name=".activity.CustomActivity"
            android:screenOrientation="portrait" />
        <!-- 定制列表页 -->
        <activity
            android:name=".activity.CustomListActivity"
            android:screenOrientation="portrait" />
        <!-- 斯诺克内页 -->
        <activity
            android:name=".activity.SnookerMatchDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 覆盖安装监听 -->
        <receiver
            android:name=".receiver.AppInstallReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- snooker 设置页 -->
        <activity
            android:name=".activity.SnookerSettingActivity"
            android:screenOrientation="portrait" />
        <!-- 足球比分列表搜索 -->
        <activity
            android:name=".activity.FootballMatchSearchActivity"
            android:screenOrientation="portrait" />
        <!-- 1.2.3改版后的新首页 -->
        <!--<activity-->
        <!--android:name=".activity.IndexActivity"-->
        <!--android:screenOrientation="portrait" />-->
        <!-- 斯诺克球员信息 -->
        <activity
            android:name=".activity.SnookerPlayerInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 斯洛克排名搜索 -->
        <activity
            android:name=".activity.SnookerInformationSerachActivity"
            android:screenOrientation="portrait" />
        <!-- 斯诺克赛事内页 -->
        <activity
            android:name=".activity.SnookerEventPageActivity"
            android:screenOrientation="portrait" />
        <!-- 篮球指数筛选 -->
        <activity
            android:name=".activity.BasketBallIndexFiltrateActivity"
            android:screenOrientation="portrait" />
        <!-- 篮球指数内页 -->
        <activity
            android:name=".activity.BasketIndexDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 网球设置页面 -->
        <activity
            android:name=".activity.TennisSettingActivity"
            android:screenOrientation="portrait" />
        <!-- 网球内页 -->
        <activity
            android:name=".activity.TennisBallDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 网球指数详情 -->
        <activity
            android:name=".activity.TennisCpiDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 竞彩足球 -->
        <activity
            android:name=".activity.FootballMatchActivity"
            android:screenOrientation="portrait" />
        <!-- 篮球比分搜索 -->
        <activity
            android:name=".activity.BasketBallMatchSearchActivity"
            android:screenOrientation="portrait" />
        <!-- 资讯 -->
        <activity
            android:name=".activity.CounselActivity"
            android:screenOrientation="portrait" />
        <!-- 视频 -->
        <activity
            android:name=".activity.VideoActivity"
            android:screenOrientation="portrait" />
        <!-- 网球指数内页 -->
        <activity
            android:name=".activity.TennisIndexDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 足球球队详情页 -->
        <activity
            android:name=".activity.FootballTeamInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 专家详情 -->
        <activity
            android:name=".activity.ExpertsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.hhly.mlottery.activity.BettingRecommendSettingActivity"
        <activity
            android:name=".activity.BettingRecommendSettingActivity"
            android:screenOrientation="portrait" />

        <!--专家详情MVP-->
        <activity android:name=".mvp.bettingmvp.mvpview.MvpBettingRecommendActivity"
            android:screenOrientation="portrait" >

        </activity>
        <activity android:name=".mvp.bettingmvp.mvpview.MvpBettingPayDetailsActivity"
        <!-- 专家详情MVP -->
        <activity
            android:name=".mvp.bettingmvp.mvpview.MvpBettingRecommendActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.bettingmvp.mvpview.MvpBettingOnlinePaymentActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx7ef1da85d0f485e1"/>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx7ef1da85d0f485e1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.bettingmvp.mvpview.MvpBettingIssueDetailsActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.bettingmvp.mvpview.MvpChargeMoneyActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx7ef1da85d0f485e1"/>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx7ef1da85d0f485e1" />
            </intent-filter>
        </activity>
        <!--微信支付-->
        <activity android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>

        <!-- alipay sdk begin -->
        <!-- 若手机没有安装支付宝，则调用H5支付页面 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
             >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            >
        </activity>
        <!-- alipay sdk end -->
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            >
        </activity>
            android:screenOrientation="behind" />
        <activity
            android:name=".activity.SubsRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecommendArticlesActivity"
            android:screenOrientation="portrait" />
        <!-- 账户详情 -->
        <activity
            android:name=".activity.AccountDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotRecommendExpertActivity"
            android:screenOrientation="portrait" />
        <!--角球比分-->
        <activity android:name=".activity.FootballCornerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>